@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@300;400&display=swap');

body {
  padding: 0;
  margin: 0;
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}
.block {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #CF9893;
  border-radius: 10px;
  margin: 10px;
}
.block-1-button,
.block-2-button,
.block-3-button {
  color: #3B3B58;
  cursor: pointer;
  background-color: #CF9893;
  border: 2px solid #3B3B58;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: auto;
  max-height: max-content;
  max-width: max-content;
  outline: none;
  padding: 5px;
}
.block-1-button:active,
.block-2-button:active,
.block-3-button:active {
  color: #fff;
}
.block-1-box,
.block-2-box,
.block-3-box {
  border: 2px solid #3B3B58;
  border-radius: 5px;
  height: 100px;
  margin: auto;
  width: 100px;
}